
 <% if user_signed_in? %>
 
  <%= form_for contribution, url: url do |f| %> 
    <%= f.trix_editor :content, required: true, autofocus: true, rows:"50", cols: "100" %>
    <br>
    <%= f.submit class: "pure-button button-success" %>
  <% end %>

<% else %>
    <h4 style="color:red">Please Sign In to contribute.</h4>
<% end %>

<hr>