
 <% if user_signed_in? %>
  <em>Note from developer: Images uploaded will not persist because I'm too broke to afford a proper hosting service. For now, please upload your images to a site like <%= link_to Imgur, "https://imgur.com/upload" %> and paste the URL here. I will consider a hosting service once I have cash-money-all-day and more knowledge on how to implement such features.</em>
  <%= form_for contribution, url: url do |f| %> 
    <%= f.trix_editor :content, required: true, autofocus: true, rows:"50", cols: "100" %>
    <br>
    <%= f.submit class: "pure-button button-success" %>
  <% end %>

<% else %>
    <h4 style="color:red">Please Sign In to contribute.</h4>
<% end %>

<hr>