video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

   -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

html, body {
  height: 100%;
}
body {
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #4a3a27;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
  span {
    display: block;
    font-size: 10vw;
  }
}

main {
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  text-align: center;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}