video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  -webkit-filter: blur(10px) brightness(75%);
  -moz-filter: blur(10px) brightness(75%);
  -o-filter: blur(10px) brightness(75%);
  -ms-filter: blur(10px) brightness(75%);
  filter: blur(10px) brightness(75%);
}

html, body {
  height: 100%;
}
body {
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: 7vw;
  text-align: center;
}

h3 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: 2vw;
  text-align: center;
}

main {
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  text-align: center;
  color: white;
  position: relative;
  padding: 1rem;
}