<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>LearnCollective</title>

   <%# PureCSS %>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

   <%# Font-Awesome for Button-Icon %>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



   <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag 'buttons', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>
   <video playsinline autoplay muted loop id="bgvid">
      <source src="code_landing.mp4" type="video/mp4">
   </video>

   <header class="viewport-header">
   <h1>
      Learn Collective <br>
      <span>FOR FLATIRON STUDENTS</span>
   </h1>
   </header>

   <main>
      <%= yield %>
   </main>

</body>
</html>